<!DOCTYPE html>
<html>
<head>
    <title>Movie Recommendations</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'recommendations/styles.css' %}">
</head>
<body>
    <h1>TOP MOVIES</h1>
    <div class="movie-list">
        {% for movie in movies %}
        <div class="movie-card">
            <img src="{{ movie.poster_url }}" alt="{{ movie.title }} Poster">
            <div class="movie-details">
                <a href="#" class="movie-title">{{ movie.title }}</a>
                <p class="movie-overview">{{ movie.overview }}</p>
                <p class="movie-release-date">Release Date: {{ movie.release_date }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>

